
@import '../base/_materialDesign-variables';
@import '../base/_mixins';


.fill-screen{
  // background-image: url('http://store.creditstar.com.au/assets/wallpapers/cliff-road-20180211.jpg');
  background-size:cover;
  background-position: center;
}

.child-list {
  color:#999;
  display: none;
  position: absolute;
  top: 42px;
  bottom: 0;
  right: 2%;
  z-Index: 100;
  width:100%;
}

.child-list-hidden{
  display:none;
}

.badge{
    &:hover ~ .child-list{
      display: block
  }
}